
{%- extends 'layouts/base.njk' -%}

{%- block main -%}

<div class="theme-container theme-container--white">
  <div class="grid-container full align-centre">
    <h2>Our events</h2>
  </div>
</div>

<div class="theme-container theme-container--white">
  <div class="grid-container thirds">
    {%- for event in events -%}
      <div>
        {%- set content -%}
          <p class="date">{{- event.date -}}</p>
          <p>{{- event.name -}}</p>
        {%- endset -%}

        {%- set footer -%}
          <p class="align-centre">
            <a href="/events/{{- event.id -}}">More information <span class="visually-hidden">about event 1</span></a>
          </p>
        {%- endset -%}

        {{ card({
          heading: { 
            text: event.address.city,
            level: '3'
          },
          image: {
            src: event.image.src,
            alt: event.image.alt
          },
          content: content,
          footer: footer
        }) }}
      </div>
    {%- endfor -%}
  </div>
</div>

{%- endblock -%}