
{%- extends 'layouts/base.njk' -%}

{%- block main -%}
  <p>
    Great North Feast in the park
    South Shields
    27, 28 and 29 May 2023
  </p>
  <p>
    Feast
    Whitley Bay
    17 and 18 June
  </p>
  <p>
    Feast
    Whitley Bay
    8 and 9 July
  </p>
  <p>
    Feast
    Cramlington
    1 and 2 July
  </p>
  <p>
    Feast in the park
    South Shields
    Date???
  </p>
{%- endblock -%}