
{%- extends 'layouts/base.njk' -%}

{%- block main -%}

{{- errorSummary(errors) -}}
<h1>
  {{- event.name -}}
</h1>
<p>
  {{- event.location -}}{{- ' ' -}}{{- event.date -}}
</p>

<form method="post" novalidate>
  <fieldset>
    <legend>
        What is your setup for {{- event.name -}}?
    </legend>

    {%- if errors -%}
      <p>
        {{- errors[0].hint -}}
      </p>
    {%- endif -%}

    {%- for item in event.prices -%}
      {%- set hint -%}
        {{- item.cost -}}
      {%- endset -%}

      {{- checkbox({
        id: item.id,
        name: 'requestedSetup[]',
        label: item.name,
        hint: hint,
        errors: errors,
        session: event.requestedItems
      }) -}}
    {%- endfor -%}
  </fieldset>

  <button>
    Continue
  </button>

</form>

{%- endblock -%}
