
{%- extends 'layouts/base.njk' -%}
{%- set pageTitle = 'Press articles' -%}

{%- block main -%}

  <div class="box center">
    <h1>
      Press articles
    </h1>
  </div>
  {%- if articles.length > 0 -%}
    <div class="box grid padding-top:0">
      {%- for article in articles -%}
        <div class="card center">
          <div class="frame">
            <img src="{{article.img}}">
          </div>

          <div class="box">
            <h3 class="visually-hidden">
              {{article.publisher.name}}
            </h3>
            <div class="box padding-top-!-0 padding-bottom-!-0">
              <img src="{{article.publisher.logo}}" role="presentation">
            </div>

            <p>
              {{article.excerpt}}
            </p>

            <p class="align-centre">
              <a href="{{article.url}}">
                Read article<span class="visually-hidden">: {{article.name}}</span>
              </a>
            </p>
          </div>
        </div>
      {%- endfor -%}
    </div>
  {%- endif -%}
{%- endblock -%}
