
{%- extends 'layouts/base.njk' -%}

{%- block main -%}

  <div class="box">
    <h1>
      Press
    </h1>

    {%- if articles.length > 0 -%}
      <h2>Articles</h2>
      {%- for article in articles -%}
        <h3>
          {{article.publisher}}
        </h3>
        <p>
          {{article.excerpt}}
        </p>
        <p>
          <a href="{{article.url}}">
            Read article<span class="visually-hidden">: {{article.name}}</span>
          </a>
        </p>
      {%- endfor -%}
    {%- endif -%}

{%- endblock -%}
