* {
  box-sizing: border-box;
  font-size: 100%;
}

.heading-xl {
  font-size: 3.5rem;
  margin-bottom: 30px;
}
.heading-l {
  font-size: 3rem;
  margin-bottom: 20px;
}
.heading-m {
  font-size: 2.25rem;
  margin-bottom: 15px;
}
.heading-s {
  font-size: 1.6rem;
  margin-bottom: 15px;
}

footer {
  h1, h2, h3, h4, h5, h6 {
    font-size: 2rem;
    font-weight: normal;
    color: #4a4a4a;
  }
}

.form-control {
  margin-bottom: 2rem;
  label {
    display: inline;
  }
  input {
    display: block;
    width: 50%;
  }
  textarea {
    display: block;
    width: 50%;
  }
  input[type="radio"],
  input[type="checkbox"] {
    display: inline;
    width: inherit;
  }
}

// Utilities
.visually-hidden {
  position: absolute;
  top: auto;
  left: -9999rem;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-centre,
.align-center {
  text-align: center;
}

.hero {
  background-color: var(--accent-color);
  color: var(--button-primary-color);
  min-height: 50vh;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-body {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 3rem;
}

.hero-content {
  flex-grow: 1;
  flex-shrink: 1;
}