.theme-container {
  max-width: var(--grid-max-width);
  margin: auto;
  padding: 20px;
}
.theme-container--white {
  background-color: white;
}

body {
  background-image: url(/images/background-sky.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

main {
  padding-bottom: 30%;
  background-image: url(/images/background-event.png), url(/images/background-grass.png), url(/images/background-sun.png);
  background-position: center bottom, center bottom, center bottom;
  background-size: 50%, contain, contain;
  background-repeat: no-repeat, no-repeat, no-repeat;
  @media (max-width: 899px) {
    background-size: 75%, contain, contain;
  }
}

footer {
  padding-top: 10%;
  background-color: #fcf2e1;
  background-image: url(/images/footer-head.png);
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
}