
{%- extends 'layouts/base.njk' -%}

{%- block main -%}

<div class="theme-container theme-container--white">
  <div class="grid-container full align-centre">
    <h1>
      <span class="event__h1__name">{{event.name}}</span><br>
      <span class="event__h1__date">{{event.date}}</span>
    </h1>
  </div>
</div>

<div class="theme-container theme-container--white">
  <div class="grid-container full">
    <div class="align-left">
      <h2>How to find us</h2>
      <p>
        {{- event.address.line1}}, {% if event.address.line2 -%}{{- event.address.line2 -}},{%- endif %} 
        {{event.address.city}}, {{event.address.postcode -}}
      </p>
      <iframe src="{{event.map}}" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>

{%- if articles.length > 0 -%}
  <div class="theme-container theme-container--white">
    <div class="grid-container full">
      <div class="align-left">
        <h2>Articles</h2>
        <ul>
          {%- for article in articles -%}
            <li><a href="{{article.url}}">{{article.name}}</a></li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </div>
{%- endif -%}

{%- endblock -%}