
{%- extends 'layouts/base.njk' -%}
{%- set pageTitle = 'Which events are you attending?' -%}

{%- block main -%}

  {{- errorSummary(errors) -}}

  <div class="box">
    <form method="post" novalidate>
      <fieldset class="{{'form-control--error' if errors}}">
        <legend>
          <h1>
            Which events are you attending?
          </h1>
        </legend>
        
        {%- if errors -%}
          <p class="error-message">
            {{- errors[0].hint -}}
          </p>
        {%- endif -%}

        {%- for event in events -%}
          {%- set hint -%}
            {{- event.address.city -}},{{- ' ' -}}{{- event.date -}}.
          {%- endset -%}

          {{- checkbox({
            id: event.id,
            name: 'events-attending[]',
            label: event.name,
            hint: hint,
            errors: errors,
            session: data.eventsAttending
          }) -}}
        {%- endfor -%}
      </fieldset>

      <button class="button button-primary">Continue</button>
    </form>
  </div>

{%- endblock -%}
