<header>
  <div class="header">
    <div class="header__menu">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/attend-as-a-vendor">Attend as a vendor</a></li>
        </ul>
      </nav>
    </div>

    <div class="header__logo">
      <p>
        Logo
      </p>
    </div>

    <div class="header__socials">
      <ul>
        <li>
          <a href="#test" class="nav-button">
            <i class="fa-brands fa-square-facebook"></i>
            <span class="visually-hidden">Facebook</span>
          </a>
        </li>
        <li>
          <a href="#test" class="nav-button">
            <i class="fa-brands fa-square-instagram"></i>
            <span class="visually-hidden">Instagram</span>
          </a>
        </li>
        <li>
          <a href="#test" class="nav-button">
            <i class="fa-brands fa-square-twitter"></i>
            <span class="visually-hidden">Twitter</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>