@use '../layout/stack.scss' as *;

.card {
  @include stack;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, .1), 0 0px 0 1px rgba(10, 10, 10, .2);
  color: #4a4a4a;

  img:first-of-type {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: var(--s1);
    font-weight: 500;
    margin-bottom: .5rem;
  }
  .date {
    font-size: var(--s0);
    font-weight: 700;
  }
}