footer {
  padding-top: 10%;
  background-color: #fcf2e1;
  background-image: url(/images/footer-head.png);
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
}
