/* Reset for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="button"],
input[type="submit"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Buttons 
--------------------------
----------------------- */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background-color: var(--link-colour);
  border-radius: 4px;
  border: 0;
  color: white;

  font-size: var(--s0);
  letter-spacing: .1rem;
  line-height: var(--s2);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  cursor: pointer;
  display: inline-block;
  padding: 0 var(--s2);

  &:hover {
    opacity: .9;
  }

  &:focus {
    border: 0;
    background-color: black;
    -webkit-box-shadow: 0 0 0 5px pink;
    box-shadow: 0 0 0 5px pink;
    color: white;
    outline: 3px solid rgba(0,0,0,0);
    outline-offset: 1px;
    text-decoration: underline;
  }
}

/* Forms 
--------------------------
----------------------- */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  width: 100%;
  max-width: 60ch;
  padding: var(--s-2) var(--s-1);

  background-color: var(--background-color);
  border: 2px solid var(--border-colour);
  border-radius: 4px;
  box-shadow: none;

  &:focus {
    border-width: 2px;
    border-color: black;
    outline: 5px solid pink;
    outline-offset: 3px;
    -webkit-box-shadow: 0 0 0 3px black;
    box-shadow: 0 0 0 3px black;
  }
}

/* Textarea */
textarea {
  min-height: var(--s5);
  padding-top: var(--s-1);
  padding-bottom: var(--s-1);
}

label,
legend {
  display: block;
  margin-bottom: var(--s-1);
}
fieldset {
  padding: 0;
  border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
  display: inline;
}
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}

.checkbox {
  position: relative;
  margin-bottom: var(--s0);
  &__label:before {
    background: white;
    content: "";
    position: absolute;
    display: inline-block;
    top: var(--s-4);
    left: 0;
    width: var(--s2);
    height: var(--s2);
    border: 2px solid grey;
  
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
  }
  &__label:after {
    background: transparent;
    content: "";
    position: absolute;
    display: inline-block;
    top: var(--s0);
    left: var(--s-2);
    width: var(--s1);
    height: var(--s-1);
    border-style: solid;
    border-color: black;
    border-width: 0 0 var(--s-3) var(--s-3);
    border-top-color: transparent;
    transform: rotate(-45deg);
    opacity: 0;
  }
  &__label {
    line-height: var(--s1);
  }
  &__text {
    display: block;
    margin-left: var(--s3);
    // margin-top: var(--s-3);
  }
  &__hint {
    display: block;
    margin-left: var(--s3);
    opacity: .7;
  }
  input[type="checkbox"] {
    position: absolute;
    top: var(--s0);
    left: var(--s0);
  }
  input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
  input[type="checkbox"]:focus + &__label:before {
    border-color: black;
    outline: 5px solid pink;
    outline-offset: 3px;
    -webkit-box-shadow: 0 0 0 3px black;
    box-shadow: 0 0 0 3px black;
  }
}
