{%- macro checkbox(params) -%}

  <div class="form-control">
    <input 
      id="{{- params.id -}}-input" 
      type="checkbox" 
      name="{{- params.name -}}" 
      aria-describedby="{{- params.id -}}-hint" 
      value="{{- params.id -}}" 
      {%- for item in params.session -%}
        {%- if item.id === params.id -%}
          checked
        {%- endif -%}
      {%- endfor -%}
    >
    <label for="{{- params.id -}}-input">
      {{- params.label -}}
    </label>
    {%- if params.hint -%}
      <div id="{{- params.id -}}-hint">
        {{- params.hint -}}
      </div>
    {%- endif -%}
  </div>
{%- endmacro -%}