{%- macro errorSummary(errors) -%}
  {%- if errors -%}
    <h2>There is a problem</h2>
    <ul>
      {%- for error in errors -%}
        <li>{{- error.message -}}</li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
{%- endmacro -%}