{%- macro textArea(params) -%}

{%- set hasErrors = false -%}
{%- set errorMessage = '' -%}
 {%- if params.errors -%}
  {%- for error in params.errors -%}
    {%- if error.id === params.id -%}
      {%- set hasErrors = true -%}
      {%- set errorMessage = error.hint -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

<div class="form-control{{' form-control--error' if hasErrors}}">
  <label for="{{- params.id -}}-input">
    {{- params.label -}}
  </label>
  <textarea id="{{- params.id -}}-input" name="{{- params.name -}}">
    {{- params.value -}}
  </textarea>
</div>
{%- endmacro -%}