<header>
  <div class="logo center">
    <p>
      Proper Food and Drink Festivals
    </p>
  </div>

  <div class="header">
    <div class="header__nav">
      <nav>
        <ul>
          <li><a href="/" class="button" role="button">Home</a></li>
          <li><a href="/press" class="button" role="button">Press</a></li>
          <li><a href="/attend-as-a-vendor" class="button" role="button">Attend as a vendor</a></li>
        </ul>
      </nav>
    </div>

    <div class="header__socials">
      <ul>
        <li>
          <a href="https://facebook.com/ProperFoodAndDrinkFestivals/" class="nav-button" role="button">
            <i class="fa-brands fa-square-facebook"></i>
            <span class="visually-hidden">Facebook</span>
          </a>
        </li>
        <li>
          <a href="https://instagram.com/properfoodanddrinkfest" class="nav-button" role="button">
            <i class="fa-brands fa-square-instagram"></i>
            <span class="visually-hidden">Instagram</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>