<header class="header">
  <div class="grid-container">
    <div>
      <div class="header__menu">
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/press">Press</a></li>
            <li><a href="/attend-as-a-vendor">Attend as a vendor</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div>
      <div class="header__logo">
        <p>
          Proper Food and Drink Festivals
        </p>
      </div>
    </div>

    <div>
      <div class="header__socials">
        <ul>
          <li>
            <a href="https://facebook.com/ProperFoodAndDrinkFestivals/" class="nav-button" role="button">
              <i class="fa-brands fa-square-facebook"></i>
              <span class="visually-hidden">Facebook</span>
            </a>
          </li>
          <li>
            <a href="https://instagram.com/properfoodanddrinkfest" class="nav-button" role="button">
              <i class="fa-brands fa-square-instagram"></i>
              <span class="visually-hidden">Instagram</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>