<footer>
  <div class="container">
    <div class="switcher">
      <div class="box">
        <h2 class="margin-bottom-!-0">Events</h2>
        <ul class="stack margin-top-!-0">
          {%- for event in events.all -%}
            <li class="margin-block-start-!-0">
              <a href="/events/{{event.id}}">
                {{event.name}}<br>{{event.address.city}}<br>{{event.date.pretty}}<span class="visually-hidden">at {{event.address.city}}</span>
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </div>

      <div class="box">
        <h2 class="margin-bottom-!-0">Contact us</h2>
        <ul>
          <li>
            <a href="/attend-as-a-vendor">
              Attend as a vendor
            </a>
          </li>
          <li>
            <a href="https://facebook.com/ProperFoodAndDrinkFestivals/">
              Facebook
            </a>
          </li>
          <li>
            <a href="https://instagram.com/properfoodanddrinkfest">
              Instagram
            </a>
          </li>
        </ul>

        <h2 class="margin-bottom-!-0">Support links</h2>
        <ul>
          <li>
            <a href="/sitemap">
              Sitemap
            </a>
          </li>
      </div>
    </div>

    <div class="box">
      <p>
        © Copyright Proper Food and Drink Festivals
      </p>
    </div>
  </div>
</footer>

{%- if env === 'dev' -%}
  <p>
    Env: <code>{{- env -}}</code>
  </p>
  <p>
    Data:
    <pre style="white-space: pre-wrap;">
      {{- data|dump(2)|safe -}}
    </pre>
  </p>
{%- endif -%}  
