
{%- extends 'layouts/base.njk' -%}
{%- set pageTitle = 'We got your email' -%}

{%- block main -%}

  <div class="box">
    <div class="panel panel--confirmation">
      <h1 class="panel__title">
        We got your email!
      </h1>
      <div class="panel__body">
        <p>
          Thanks for expressing your interest!<br>
          We'll be in touch soon.
        </p>
      </div>
    </div>
    
    <p>
      <a href="/">Return home</a>
    </p>

  </div>


{%- endblock -%}
