// Normalise
@use 'normalise';

// Layout
@use 'layout/grid';
@use 'layout/switcher' as *;
@use 'layout/cluster' as *;
@use 'layout/stack' as *;
@use 'layout/frame';
@use 'layout/centre';
@use 'layout/theming';

// Components / Elements
@use 'elements';
@use './components/header';
@use './components/footer';
@use './components/errors';
@use './components/panel';
@use './components/card';
@use './components/forms';
@use './components/skip-link';

// Utilities
@use 'utilities';

// Fonts
@use './fontawesome/fontawesome.scss';
@use './fontawesome/brands.scss';
@use './fontawesome/solid.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');

html {
  font-family: 'Roboto Slab', 'Courier New', Courier, monospace;  ;
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
:root {
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --link-colour: #0c79ae;
  --border-colour: grey;
}
