{%- macro card(params) -%}
<div class="card">
  <div class="card__header">
    <img src="{{- params.image.src -}}" alt="{{- params.image.alt -}}">
  </div>

  <div class="card__body">
    <div class="card__content">
      <h{{- params.heading.level }} class="heading-s">
        {{- params.heading.text-}}
      </h{{- params.heading.level }}>
      {{params.content|safe}}
    </div>
  </div>
  <div class="card__footer">
    {{- params.footer|safe -}}
  </div>
</div>
{%- endmacro -%}