{%- macro checkbox(params) -%}

<div class="form-control{{' form-control--error' if hasErrors}}">
  <div class="checkbox">
    <input 
      id="{{- params.id -}}-input" 
      class="checkbox__input" 
      type="checkbox" 
      name="{{- params.name -}}" 
      value="{{- params.id -}}" 
      {%- for item in params.session -%}
        {%- if item.id === params.id -%}
          checked
        {%- endif -%}
      {%- endfor -%}
    >
    <label for="{{- params.id -}}-input" class="checkbox__label">
      <span class="checkbox__text">
      {{- params.label -}}
      </span>
      {%- if params.description -%}
        <span id="{{- params.id -}}-description" class="checkbox__hint">
          {{- params.description -}}
        </span>
      {%- endif -%}
      {%- if params.cost -%}
        <span id="{{- params.id -}}-cost" class="checkbox__hint">
          {{- params.cost -}}
        </span>
      {%- endif -%}
    </label>
  </div>
</div>

{%- endmacro -%}