
{%- extends 'layouts/base.njk' -%}
{%- set pageTitle = 'What is your setup for ' + event.name + '?' -%}

{%- block main -%}

  {{- errorSummary(errors) -}}

  <div class="box">
    <h1>
      <span class="subheading">{{- id }} of {{ data.eventsAttending|length -}}</span>
      <span>{{- event.name -}}</span><br>
    </h1>
    <p id="date-and-location">
      {{- event.address.city -}}<br>
      {{- event.date.pretty -}}
    </p>

    <form method="post" novalidate>
      <fieldset class="{{'form-control--error' if errors}}">
        <legend aria-describedby="date-and-location">
            <h2>What is your setup for {{event.name}}?</h2>
        </legend>

        {%- if errors -%}
          <p class="error-message">
            {{- errors[0].hint -}}
          </p>
        {%- endif -%}

        {%- for item in event.prices -%}
          {%- set cost -%}
            Cost: £{{- item.cost -}}
          {%- endset -%}

          {{- checkbox({
            id: item.id,
            name: 'requestedSetup[]',
            label: item.name,
            description: item.description,
            cost: cost,
            errors: errors,
            session: event.requestedItems
          }) -}}
        {%- endfor -%}
      </fieldset>

      <button class="button button-primary">Continue</button>
    </form>
  </div>

{%- endblock -%}
