
{%- extends 'layouts/base.njk' -%}

{%- block main -%}

<div class="theme-container theme-container--white">
  <div class="grid-container full align-left">
    {{- errorSummary(errors) -}}
    <h1>
      <span>{{- event.name -}}</span><br>
    </h1>
    <p id="date-and-location">
      {{- event.address.city -}}<br>
      {{- event.date -}}
    </p>

    <form method="post" novalidate>
      <fieldset class="{{'form-control--error' if errors}}">
        <legend class="heading-m" aria-describedby="date-and-location">
            What is your setup for {{event.name}}?
        </legend>

        {%- if errors -%}
          <p class="error-message">
            {{- errors[0].hint -}}
          </p>
        {%- endif -%}

        {%- for item in event.prices -%}
          {%- set hint -%}
            Cost: £{{- item.cost -}}
          {%- endset -%}

          {{- checkbox({
            id: item.id,
            name: 'requestedSetup[]',
            label: item.name,
            hint: hint,
            errors: errors,
            session: event.requestedItems
          }) -}}
        {%- endfor -%}
      </fieldset>

      <button class="button button-primary">Continue</button>
    </form>
  </div>
</div>

{%- endblock -%}
