
{%- extends 'layouts/base.njk' -%}
{%- set pageTitle = event.name + ' at ' + event.address.city + ' on ' + event.date -%}

{%- block main -%}
  <div class="box">
    <h1 class="center">
      <span>{{event.name}}</span>
      <span class="visually-hidden"> - </span><br>
      <span class="heading-s">{{event.address.city}} - {{event.date}}</span>
    </h1>

    <h2 class="margin-top-!-4">How to find us</h2>
    <p>
      {{- event.address.line1}}, {% if event.address.line2 -%}{{- event.address.line2 -}},{%- endif %} 
      {{event.address.city}}, {{event.address.postcode -}}
    </p>
    <iframe src="{{event.map}}" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    <h2>About {{event.name}}</h2>
    <p>
      {{event.details|safe}}
    </p>

    <h2>Stay up to date</h2>
    <p>
      <a href="{{event.fbgroup}}">Join our Facebook group</a>
    </p>

    {%- if articles.length > 0 -%}
      <h2>Articles</h2>
      <ul>
        {%- for article in articles -%}
          <li><a href="{{article.url}}">{{article.name}}</a></li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>


{%- endblock -%}