
{%- extends 'layouts/base.njk' -%}

{%- block main -%}

<div class="grid-container full align-left">
  <div class="panel panel--confirmation">
    <h1 class="panel__title">
      We got your email
    </h1>
    <div class="panel__body">
      We'll be in touch soon.
    </div>
  </div>
</div>

{%- endblock -%}
