{%- from '../common/macros/text-input.njk' import textInput with context -%}
{%- from '../common/macros/textarea.njk' import textArea with context -%}
{%- from '../common/macros/error-summary.njk' import errorSummary with context -%}
{%- from '../common/macros/checkbox.njk' import checkbox with context -%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home - Festivals</title>
    {# <link rel="stylesheet" href="/css/style.css"> #}
    <style>
      .form-control {
        margin-bottom: 2rem;
      }
      .form-control input {
        display: block;
      }
      .form-control textarea {
        display: block;
      }
      .form-control input[type="checkbox"] {
        display: inline;
      }
    </style>
  </head>

  <body>
    {%- include 'common/header/template.njk' -%}
    <main>
      {%- block main -%}{%- endblock -%}
    </main>
    {%- include 'common/footer/template.njk' -%}
  </body>
</html>